.App {
  text-align: center;
  min-height: 100vh;
  height: 100vh;
  background-color: rgb(49, 49, 75);
  background: radial-gradient(
    farthest-side ellipse at 10% 0,
    #2a2e55 20%,
    #17193b
  ) !important;
  font-family: Open Sans, sans-serif;
  overflow-x: hidden;
} /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #17193b;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2a2e55;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a2e55;
  border-radius: 10px;
}
.card {
  border: none;
  border-radius: 10px;
  background-color: rgb(21, 23, 50);
  text-align: start;
  width: auto;
  min-width: 270px;
}
.card-body {
  padding: 0;
}
.chart-container {
  aspect-ratio: 5 / 2;
}

.card-status {
  border: 2px solid;
}
